<main>
  <h2>Recipes</h2>
  <table #recipeSort="matSort" matSort mat-table [dataSource]="recipeDataSource"c>
    <ng-container matColumnDef="cooked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cooked</th>
      <td mat-cell *matCellDef="let recipe">
        <mat-checkbox [checked]="recipe.cooked" (change)="cook($event, recipe)">{{recipe.cooked}}</mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="learned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Learned</th>
      <td mat-cell *matCellDef="let recipe">
        <mat-checkbox [checked]="recipe.learned" (change)="learn($event, recipe)">{{recipe.learned}}</mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let recipe">
        <img [src]="recipe.imageUrl" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let recipe">{{ recipe.name }}</td>
    </ng-container>
    <ng-container matColumnDef="ingredients">
      <th mat-header-cell *matHeaderCellDef>Ingredients</th>
      <td mat-cell *matCellDef="let recipe">
        <ul>
          @for (ing of recipe.ingredients; track ing) {
          <li [ngClass]="ing.collected ? 'collected' : ''">{{ ing.name }}</li>
          }
        </ul>
      </td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef>
        Recipe Source(s)
      </th>
      <td mat-cell *matCellDef="let recipe">{{ recipe.source }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="recipeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: recipeColumns"></tr>
  </table>

  <h2>Ingredients</h2>
  <mat-checkbox [formControl]="hideUsedIngredients" (change)="toggleHideUsedIngredients($event)">Hide ingredients for recipes that have already been cooked</mat-checkbox>
  <table mat-table #ingredientSort="matSort" matSort [dataSource]="ingredientDataSource" >
    <ng-container matColumnDef="collected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Collected</th>
      <td mat-cell *matCellDef="let ingredient">
        <mat-checkbox [checked]="ingredient.collected" (change)="collect($event, ingredient)">{{ingredient.collected}} has recipe been cooked? {{ingredient.recipeCooked}}</mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let ingredient">
        <img [src]="ingredient.imageUrl" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
    </ng-container>
    <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Season</th>
      <td mat-cell *matCellDef="let ingredient">{{ ingredient.season }}</td>
    </ng-container>
    <ng-container matColumnDef="recipe">
      <th mat-header-cell *matHeaderCellDef>Recipe</th>
      <td mat-cell *matCellDef="let ingredient">{{ ingredient.addedBy }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="ingredientColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ingredientColumns" [ngClass]="row.recipeCooked ? 'cooked' : ''"></tr>
  </table>
</main>
