html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table .mdc-label {
  display: none;
}

tr.cooked {
  opacity: 60%;
  background-color: #dddddd;
  text-decoration: line-through;
  font-style: italic;
}
